html,body {
  margin: o;
  background-color: rgb(73, 70, 70) ;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.cards {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computer-cards, #player-cards {
  height: 240px;
}

.footer{
  background-color: black; 
  height: 30px; 
  width: 100%; 
  bottom: 0;
  position: absolute; 
  margin-top: 7%;
}
